.App{
  
  background-image: linear-gradient(to bottom right,   #33ff99,  #009999);
  /* color: hsl(213, 50%, 36%); */
  box-shadow:0 0 10px #e9e9e9;
  height: 500px;
  width: 450px;
  display: block;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #e9e9e9;
  border-radius: 20px;
  /* 62aa3eb2ae416c2d6443aee48644f637 */
 
}
.text-center{
  text-align: center;
}
.input-box{
  padding: 10px 15px;
  width: 200px;
  border-radius: 30px;
  border: none ;
  display: block;
  margin: 10px auto;
  text-decoration: none;
}
.input-box:hover{
border: none ;
cursor: pointer;
text-decoration: none;
}
.img-search{
  height: 30px;
  margin-top: 10px;
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 2px;
  margin-left: 10px;
  background-color: #fff;
}
.img-search:hover{
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content: center;

}
.img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}
.temp{
  font-size: 40px;
 
  display: block;
 color: #fff;
  text-align: center;
}
.city-name{
  font-size: 30px;
  text-align: center;
  display: block;
  color: #fff;
}
.visibility{
 
}
.flex-around{
  display: flex;
  justify-content: space-between; 
  color: #fff;
}
.img-logo{
  height: 60px;
 
}
.block-humidity1{
  
  padding: 10px;
  margin-top: 12px;
}
.block-humidity2{
  
  padding: 5px;
}
.block-visibility1{
 
  padding: 10px;
  margin-top: 12px;
}
.block-visibility2{
  
  padding: 5px;
}


